h2.about-anifor-h2 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.about-anifor p {
    white-space: break-spaces;
}

.top-posts>h2 {
    text-align: center;
    font-size: 1.5rem;
    margin: 1rem;
}