/* general */

* {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
    overflow-x: hidden;
}


/* header */

.mobile-menu {
    display: none;
}

header.header {
    padding: 1.5rem;
    display: grid;
    grid-column-gap: 5px;
    grid-template-areas: "logo navs navs navs search search search sign sign sign";
    grid-template-columns: repeat(10, 1fr);
    align-items: center;
    background: #243358;
}

section.header-logo {
    grid-area: logo;
    cursor: pointer;
}

section.header-logo img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

section.header-navs {
    grid-area: navs;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

section.header-search {
    grid-area: search;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

section.header-search i {
    font-size: 2rem;
}

section.header-search>input {
    margin: 5px;
    padding: 5px;
    max-width: 80%;
    color: white;
    background: none;
    border: 1px solid white;
    border-radius: 5px;
}

section.header-search>input::placeholder {
    color: #cbc5c5;
}

section.header-sign {
    grid-area: sign;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.sign-action {
    display: flex;
    align-items: center;
}

.sign-icon {
    margin: 5px;
}

section.header-navs>div,
.sign-btn {
    padding: 5px;
    word-break: break-all;
    border-radius: 5px;
    border: 2px solid transparent;
    cursor: pointer;
    transition: .5s;
}

section.header-navs>div:hover,
.sign-btn:hover {
    color: red;
    background: white;
    transition: .5s;
    border-bottom: 2px solid red;
}

.navs-account {
    position: relative;
}

.navs-account:hover div {
    display: block;
}

.navs-account-actions {
    position: absolute;
    display: none;
    left: 0;
    top: 100%;
    width: max-content;
    max-width: 70vw;
    padding: 1rem;
    background: #0000005c;
    border-radius: 5px;
    z-index: 10;
}

.account-actions {
    color: red;
    transition: .5s;
    padding: 5px;
    border-radius: 5px;
}

.account-actions:not(:last-child) {
    margin-bottom: 1rem;
}

.account-actions:hover {
    transition: .5s;
    background: white;
}


/* main */

main.main {
    min-height: 100vh;
    padding: 1rem;
    display: flex;
    background: url(https://cs9.pikabu.ru/post_img/big/2020/03/14/12/1584217192121867798.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

aside.chat-users {
    height: max-content;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    color: red;
    background: #001a5ba6;
    border-radius: 5px;
}

.chat-users>* {
    padding: .5rem;
}

.online {
    background: green;
}

h2.chat-users-h2 {
    text-align: center;
}

.user:not(:last-child) {
    margin-bottom: 5px;
}

.user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    cursor: pointer;
    text-transform: capitalize;
    transition: .5s;
    padding: 2px;
}

span.user-notification.is-have-content {
    width: 1rem;
    height: 1rem;
    text-align: center;
    background: red;
    border-radius: 5px;
}

.user:hover {
    transition: .5s;
    background: red;
}

section.content {
    flex-grow: 9;
    display: flex;
    flex-direction: column;
    color: white;
    background: #53347359;
    border-radius: 5px;
}

.content-header {
    margin: 1rem;
    font-size: 3rem;
    color: #7417a4;
    text-align: center;
    text-transform: uppercase;
}

.content-body {
    padding: 1rem;
}


/* footer */

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin-top: auto;
    background: #243358;
}

.footer>div {
    margin: 3px;
}

.footer-authors a {
    color: white;
    transition: .5s;
}

.footer-authors a:hover {
    color: #0d00d5;
    transition: .5s;
}


/* 404 */

h2.NF-h2,
h2.ws-message {
    font-size: 2rem;
    text-align: center;
}


/* contacts */

.contacts>div {
    font-size: 2rem;
}


/* inform */

.inform {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: #00000066;
    z-index: 10;
}

.infrom-msg {
    background: #a20606;
    margin: auto;
    padding: 2rem;
    border-radius: 5px;
}


/* animation */

@keyframes menu-open {
    from {
        left: -100%;
    }
    to {
        left: 0;
    }
}

@keyframes menu-close {
    from {
        left: 0;
    }
    to {
        left: -100%;
    }
}

@media screen and (max-width: 900px) {
    * {
        font-size: 12px;
    }
    section.header-search>input {
        max-width: 70%;
    }
}

@media screen and (max-width: 700px) {
    * {
        font-size: 11px;
    }
    section.header-search>input {
        max-width: 60%;
    }
}


/* mobile */

@media screen and (max-width: 500px) {
    * {
        font-size: 10px;
    }
    /* mob menu */
    .mobile-menu {
        position: relative;
        display: flex;
        width: 100vw;
        height: 40px;
        background: #243358;
    }
    .menu-btn {
        position: relative;
        left: 1rem;
        height: 100%;
        width: 10vw;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    span.menu-btn-span::before {
        content: '';
        top: -400%;
    }
    span.menu-btn-span::after {
        content: '';
        top: 400%;
    }
    span.menu-btn-span,
    span.menu-btn-span::before,
    span.menu-btn-span::after {
        position: absolute;
        display: block;
        height: 2px;
        width: 100%;
        background: white;
    }
    .mobile-menu-logo {
        width: 80vw;
        font-size: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* header */
    header.header {
        position: fixed;
        left: -100%;
        width: 75vw;
        height: 100vh;
        grid-row-gap: 1rem;
        grid-template-areas: "logo sign sign sign" "search search search search" "navs navs navs navs";
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, max-content);
        background: #243358d9;
        z-index: 10;
    }
    header.header.close,
    header.header.open {
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
    header.header.open {
        animation-name: menu-open;
    }
    header.header.close {
        animation-name: menu-close;
    }
    section.header-navs {
        flex-direction: column;
    }
    main.main {
        flex-direction: column-reverse;
    }
}