.create-post {
    display: grid;
    grid-template-areas: "tools manage" "body manage";
    grid-gap: 1rem;
}

.create-post i {
    font-size: 1.5rem;
    cursor: pointer;
}

section.tools {
    grid-area: tools;
}

section.post-body-wrapper {
    grid-area: body;
    display: flex;
    flex-flow: column wrap;
}

.create-post-title input,
.created-tag,
.generate-new-tag {
    padding: 5px;
    margin-bottom: 1rem;
    color: #794da5;
    background: #ffffff4a;
    border: 1px solid #243358;
    border-radius: 5px;
    box-shadow: 2px 5px 11px 0 #7417a48c;
    cursor: pointer;
    transition: .5s;
}

.generate-new-tag {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    transition: .5s;
}

.generate-new-tag:hover {
    color: #fff5e0;
    background: #794ca4;
    transition: .5s;
}

section.manage {
    grid-area: manage;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.tools-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 1rem;
}

.tools-alignment,
.tools-text-decoration,
.tools-listing {
    position: relative;
}

.tools-alignment:hover .alignment-aligns,
.tools-text-decoration:hover .decoration-decors,
.tools-listing:hover .listing-lists {
    display: block;
}

.alignment-aligns,
.decoration-decors,
.listing-lists {
    position: absolute;
    padding: .5rem;
    display: none;
    width: max-content;
    background: #00000042;
    z-index: 10;
}

.alignment-aligns div,
.decoration-decors div,
.listing-lists div {
    margin: 2px;
    transition: .5s;
    cursor: pointer;
}

.alignment-aligns div:hover,
.decoration-decors div:hover,
.listing-lists div:hover {
    background: red;
    transition: .5s;
}

.create-post h2 {
    text-align: center;
}

.elem-text {
    font-size: 2rem;
}

.create-post-body {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    min-height: 200px;
    width: 60vw;
    background: #ffffffa3;
    word-break: break-all;
}

.create-post-body>* {
    white-space: pre-wrap;
    color: black;
}

.create-post-body img {
    height: 100%;
    width: 100%;
}

.post-citate {
    margin: .5rem;
    padding: .5rem;
    background: #9e9a9a42;
}

.post-spoiler {
    margin: .5rem;
    padding: .5rem;
    background: #0683c14d;
}

li.post-list-item {
    margin-left: 2rem;
}


/* post show */

.post-header,
.post-tags-wrapper,
.post-carma,
.post-carma-actions {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.post-header {
    justify-content: space-between;
}

h2.post-title {
    word-break: break-all;
}

.post-carma>div {
    margin: 1rem;
}

.post-carma-actions {
    cursor: pointer;
}

.post-carma-actions>div {
    margin: .5rem;
}

.post-body img,
.comments img {
    max-width: 100%;
    max-height: 100%;
}


/* comment side */

section.your-comment,
section.post-comments {
    margin: 2rem;
}

section.your-comment>h2,
section.post-comments>h2 {
    text-align: center;
    font-size: 1.5rem;
}

.content-body .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 1rem 0;
    background: #00000014;
}

.content-body .form>* {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 24rem;
    margin: 1rem;
}

form.form textarea {
    padding: 1rem;
    width: 100%;
    border: 1px solid white;
    color: white;
    background: none;
}

form.form textarea::placeholder {
    color: #fcffff;
}

form.form input[type="submit"] {
    padding: 5px;
    margin-bottom: 1rem;
    color: #794da5;
    background: #ffffff4a;
    border: 1px solid #243358;
    border-radius: 5px;
    box-shadow: 2px 5px 11px 0 #7417a48c;
    transition: .5s;
}

form.form input[type="submit"]:hover {
    color: #fff5e0;
    background: #794ca4;
    transition: .5s;
}

.comments {
    margin: 2rem 0;
}

.comments>div,
.nested-comments>div {
    padding: 1rem;
    display: flex;
    border: 1px solid white;
    border-radius: 5px;
    background: #63869969;
}

.nested-comments {
    flex-direction: column;
}

.user-avatar {
    max-width: 10%;
    margin: 1rem;
}

.user-avatar span {
    word-break: break-word;
}

.comment-content {
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.comment-bottom,
.comment-carma,
.comment-actions,
.comment-carma-actions {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.comment-carma>div,
.comment-actions>div,
.comment-carma-actions>div {
    margin: .5rem;
    cursor: pointer;
}


/* vars */

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

.align-justify {
    text-align: justify;
}

.text-bold {
    font-weight: bold;
}

.text-italic {
    font-style: italic;
}

.text-underline {
    text-decoration: underline;
}

.font-size-8 {
    font-size: 8px;
}

.font-size-10 {
    font-size: 10px;
}

.font-size-12 {
    font-size: 12px;
}

.font-size-14 {
    font-size: 14px;
}

.font-size-16 {
    font-size: 16px;
}

.font-size-18 {
    font-size: 18px;
}

.font-size-20 {
    font-size: 20px;
}

.font-size-22 {
    font-size: 22px;
}

.font-size-24 {
    font-size: 24px;
}

@media screen and (max-width: 700px) {
    * {
        font-size: 11px;
    }
}